<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Login
    </title>
    <link rel="stylesheet" href="/index.css">
   
</head>
<body>
    <nav class="nav">
        <h1 class="heading">Unified Aedes Aegypti Protein Resource Database</h1>
        <h1 class="heading2">Unified Aedes Aegypti</h1>
        <h1 class="heading2">Protein Resource Database</h1>
        <a class="admin-btn" href="/user">Home</a>
    </nav>
    <div class="search">
        
        <form action="/admin/login" method="POST" class="form">
            <button type="submit" class="btn">Login</button>
            <input type="password" placeholder="Enter Password..." name="password" class="input">
        </form>
    </div>

</body>