* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Calibri";
  background-color: rgb(226, 235, 255);
}
.nav {
  /*border: 5px solid green;*/
  background-color: rgb(182, 205, 255);
  border-bottom: 0.25em solid rgb(197, 215, 255);
  box-shadow: 0em 0.2em 0.5em rgb(154, 186, 255);
}

.heading {
  text-align: center;
  position: relative;
  box-sizing: border-box;
  padding-top: 0.5em;
  /*border: 1px solid black;*/
  font-size: 2em;
}

@keyframes animate-heading {
  0% {
    font-size: 1em;
  }
  20% {
    padding: 1em 0em 0em 0em;
    font-size: 2em;
  }
  40% {
    padding: 1em 0em 1em 0em;
    font-size: 3em;
  }
  60% {
    padding: 1em 1em 1em 0em;
    font-size: 4em;
  }
  80% {
    padding: 1em 1em 1em 1em;
  }
  100% {
    animation-play-state: paused;
  }
}

.admin-btn {
  position: relative;
  box-sizing: border-box;
  float: right;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  transition: all 0.4s;
  border-radius: 0.1em;
  width: 4em;
  height: 1.4em;
  margin: 0 0.4em 0 0.4em;
  margin-left: 10em;
  font-size: 1.2em;
  text-align: center;
  background-color: rgb(136, 177, 255);
  font-weight: 800;
  top: -2.2em;
}

.search {
  /*border: 5px solid rgb(0, 0, 0);*/
}

.form {
  display: inline-block;
  box-sizing: border-box;
  margin-top: 4em;
  display: flex;
  flex-direction: column-reverse;
  max-width: 100vw;
  /*border: 1px solid black;*/
}
.btn {
  box-sizing: border-box;
  align-self: center;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 50%;
  margin-right: 50%;
  width: 6em;
  height: 2.5em;
  background-color: rgb(255, 255, 255);
  font-weight: 600;
  color: rgb(90, 0, 173);
  font-family: "Calibri";
  font-size: 1.4em;
  border: 4px solid rgb(154, 46, 255);
}

.btn:hover,
.btn:active {
  background-color: rgb(129, 41, 212);
  color: white;
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 0.15em 0.15em 0.15em black;
  border-radius: 10em;
}

.admin-btn:hover,
.admin-btn:active {
  background-color: rgb(52, 114, 231);
  color: white;
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 0.05em 0.05em 0.05em black;
  border-radius: 10em;
}

.download-btn:hover,
.download-btn:active {
  background-color: rgb(129, 41, 212);
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
.input {
  box-sizing: border-box;
  align-self: center;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 20em;
  font-size: 1.2em;
  border-radius: 0.2em;
}

table {
  table-layout: auto;
}

.display {
  display: block;
  box-sizing: border-box;
  border-collapse: collapse;
  background-color: rgb(250, 243, 143);
  border: 2px solid rgb(104, 104, 17);
  max-width: 100em;
  overflow-y: auto;
  align-self: left;
}

th {
  font-weight: 550;
}
tr {
  max-height: 2em;
}
th,
td {
  box-sizing: border-box;
  border: 2px solid black;
  padding: 0.2em;
  text-align: center;
  max-height: 2em;
}

.row:hover,
.row:active {
  background-color: rgb(240, 230, 96);
  transition: 0.2s;
}

td {
  height: 1em;
}

.message {
  font-weight: 800;
  width: fit-content;
}

p {
  margin: 0.4em;
  align-self: center;
  font-size: 1.4em;
}

.function {
  max-width: 22em;
  overflow: auto;
}

.residues {
  max-width: 10em;
  overflow: auto;
}

.download-form {
  display: flex;
  flex-direction: column;
}

.download-btn {
  align-self: center;
  padding: 0.05em 1em;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  border-radius: 0.1em;
  width: 4em;
  margin: 0 1em;
  font-size: 1em;
  text-align: center;
  background-color: rgb(136, 177, 255);
  font-weight: 400;
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-11-28 16:46:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

footer {
  box-sizing: border-box;
  margin-top: 2em;
  padding: 3em;
}
.logo-wrapper {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
}

.logo {
  border: 4px solid black;
  border-radius: 0.25em;
  width: 20em;
  align-self: center;
}

.heading2 {
  display: none;
}

@media (max-width: 980px) {
  .admin-btn {
    top: -3.4em;
  }
  .heading {
    display: none;
  }
  .heading2 {
    display: block;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    padding-top: 0.5em;
    /*border: 1px solid black;*/
  }
}

@media (max-width: 500px) {
  img {
    transform: scale(0.8);
  }
  .form {
    transform: scale(0.8);
  }
  .admin-btn {
    font-size: 1em;
  }
  .heading {
    display: none;
  }
  .heading2 {
    font-size: 1.2em;
  }
}

@media (max-width: 350px) {
  img {
    transform: scale(0.6);
  }
  .form {
    margin-top: 0em;
    transform: scale(0.6);
  }
  .heading2 {
    display: inline;
  }
  .admin-btn {
    top: -0.2em;
  }
}
